# Format Style Options - Created with Clang Power Tools
---
AccessModifierOffset: -2
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: LLVM
BraceWrapping: 
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeLambdaBody: false
  BeforeWhile: true
BreakBeforeBraces: Custom
ColumnLimit: 160
IndentWidth: 4
PointerAlignment: Left
...
